{
  "openapi": "3.1.0",
  "info": {
    "title": "Meridian Protocol API",
    "version": "1.0.0",
    "description": "The Meridian Protocol API enables financial institutions to integrate with the Meridian network - a sovereign Layer 1 blockchain built for stablecoin remittance and cross-border payments."
  },
  "servers": [
    {
      "url": "https://api.meridian.network/v1",
      "description": "Production"
    },
    {
      "url": "https://testnet-api.meridian.network/v1",
      "description": "Testnet"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/registry/register": {
      "post": {
        "summary": "Register institution",
        "description": "Register your financial institution in the RADIUS registry",
        "operationId": "registerInstitution",
        "tags": [
          "Registry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "jurisdiction",
                  "services"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Example Bank"
                  },
                  "jurisdiction": {
                    "type": "string",
                    "example": "US"
                  },
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "remittance-receiving"
                    ]
                  },
                  "supportedCurrencies": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "USD",
                      "NGN"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "institutionId": {
                      "type": "string"
                    },
                    "txHash": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/registry/query": {
      "post": {
        "summary": "Query registry",
        "description": "Search for institutions by jurisdiction, currency, or service",
        "operationId": "queryRegistry",
        "tags": [
          "Registry"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jurisdiction": {
                    "type": "string",
                    "example": "NG"
                  },
                  "supportedCurrencies": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "NGN"
                    ]
                  },
                  "services": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "remittance-receiving"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "institutions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "institutionId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "jurisdiction": {
                            "type": "string"
                          },
                          "services": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "supportedCurrencies": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/radius/handshake": {
      "post": {
        "summary": "Initiate handshake",
        "description": "Initiate RADIUS handshake with Travel Rule compliance data",
        "operationId": "initiateHandshake",
        "tags": [
          "RADIUS Protocol"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "receiverInstitutionId",
                  "originator",
                  "beneficiary",
                  "amount",
                  "currency"
                ],
                "properties": {
                  "receiverInstitutionId": {
                    "type": "string"
                  },
                  "originator": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "John Doe"
                      },
                      "accountNumber": {
                        "type": "string"
                      },
                      "address": {
                        "type": "string"
                      }
                    }
                  },
                  "beneficiary": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Jane Smith"
                      },
                      "accountNumber": {
                        "type": "string"
                      }
                    }
                  },
                  "amount": {
                    "type": "string",
                    "example": "1000.00"
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Handshake initiated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "handshakeId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending"
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/settlement": {
      "post": {
        "summary": "Execute settlement",
        "description": "Execute on-chain settlement after handshake completion",
        "operationId": "executeSettlement",
        "tags": [
          "Settlement"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "handshakeId",
                  "amount",
                  "token"
                ],
                "properties": {
                  "handshakeId": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "1000"
                  },
                  "token": {
                    "type": "string",
                    "enum": [
                      "USDC",
                      "USDT"
                    ],
                    "example": "USDC"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Settlement executed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "settlementId": {
                      "type": "string"
                    },
                    "txHash": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "finalized"
                      ]
                    },
                    "finalizedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          }
        }
      }
    },
    "/network/status": {
      "get": {
        "summary": "Get network status",
        "description": "Get current Meridian network status and health",
        "operationId": "getNetworkStatus",
        "tags": [
          "Network"
        ],
        "responses": {
          "200": {
            "description": "Network status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "network": {
                      "type": "string",
                      "example": "mainnet"
                    },
                    "blockHeight": {
                      "type": "integer"
                    },
                    "validators": {
                      "type": "integer"
                    },
                    "averageBlockTime": {
                      "type": "number",
                      "example": 2.1
                    },
                    "tps": {
                      "type": "number"
                    },
                    "healthy": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  }
}